<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{title}} - User Management system</title>
    {% else %}
    <title>User Management system</title>
    {% endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body  background="/static/bg3.webp">
    <div class="container my-5">
        <div class="d-flex justify-content-center align-items-center">
            <img style="width: 5%;"
                src="/static/management-icon.webp"
                alt="">
            <h1>
                User Management System
            </h1>
        </div>
        <div class="text-center my-2">
            {% if session.get('user_id') %}
            <button class="btn btn-info">{{session.username}}</button>
            {% endif %}
        </div>
        <hr>
    </div>
    {% block content %} {% endblock content %}
</body>
</html>